.app-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	/* box-sizing: border-box; */
	/* width: calc(100vw - 2rem); */
	width: 100vw;
	height: 100vh;
	/* margin-left: 1rem; */
	/* margin-right: 1rem; */

	background: url("./assets/appImages/Background Image Test.png") center / cover
		no-repeat;
}

.app-page-content {
	flex: 1;
	min-width: 0;
}
